.extraDetailsContainer {
  position: absolute;
  bottom: 5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  .case {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      margin-top: 1em;
    }
  }
}
