
$primaryColor: #fff;
.container{
   height: 100vh;
   overflow: hidden;
   color: #fff;
    

   video{
      height: 100%;
      width: 100%;
      object-fit: cover;
   
      
   }
    
   .dataSearch{
      position: absolute;
      width: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input{
         background-color: rgba($color: $primaryColor, $alpha: 0.3);
         color: $primaryColor;
         border: none;
         font-size: 2em;
      }
      button{
         position: absolute;
         right: 0 ;
      }
      
      
      .hamburger{
         position: relative;
         top: 15em;
        
      }
   }
  
   .dataFind{
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
   }
   .lastBLock{
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      
   }
   }
